# Configuration du serveur
PORT=3000

# Configuration PostgreSQL dev
# DB_HOST=localhost       # Adresse de ton serveur PostgreSQL (ou nom de service Docker)
# DB_PORT=5432            # Port par défaut de PostgreSQL
# DB_NAME=syselo  # Nom de ta base de données
# DB_USER=postgres # Nom d'utilisateur PostgreSQL
# DB_PASSWORD=root # Mot de passe PostgreSQL


# PROD
DB_HOST=b2fgn9jmyz0g059ewmzg-postgresql.services.clever-cloud.com    # Adresse de ton serveur PostgreSQL (ou nom de service Docker)
DB_PORT=50013          # Port par défaut de PostgreSQL
DB_NAME=b2fgn9jmyz0g059ewmzg  # Nom de ta base de données
DB_USER=ua2mggmkkgvipvnmiuvj # Nom d'utilisateur PostgreSQL
DB_PASSWORD=YOx0HnMFHmf6hplkwxuF0SdpZjwrTv

# mysql -h dpg-cu4edqogph6c739nunsg-a -P 5432 -u syselo_user -p syselo
# psql -h dpg-cu4edqogph6c739nunsg-a -p 5432 -U syselo_user -d syselo



# Configuration JWT
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1h
